  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@100&family=Poppins:wght@300;400;500&family=Roboto:ital,wght@1,300&display=swap');


  :root {
      --green: rgb(72, 121, 80);
      --black: #120e47;
      --light-color: #666;

      --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.2);
      --border: .2rem solid rgba(0, 0, 0, 0.5);
      --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      outline: none;
      border: none;
      text-decoration: none;
      transition: all .2s linear;
  }

  html {
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-behavior: smooth;
      scroll-padding-top: 7rem;
  }

  body {
    background-image: linear-gradient(to bottom, #d16ba5, #ee768e, #fa8b77, #f7a668, #e8c367, #e2cb6a, #dcd46f, #d4dc75, #dfd36b, #e9ca64, #f2c160, #fbb75f);
  }
  /* button */
  .btn {
      border: .2rem solid var(--black);
      border-radius: 1rem;
      display: inline-block;
      margin-top: 1rem;
      padding: .8rem 3rem;
      font-size: 1.7rem;
      color: var(--black);
      cursor: pointer;
      background: none;
  }



  .btn:hover {
      background: var(--green);
      color: white;
  }

  /* ==================button============== */


  /*===================== Common for all section tags =================*/
  section {
      padding: 2rem 9%;
  }

  /*=================== Common for all section tags ====================*/

  /* =============Common for all Heading tags======================== */


  .heading {
      text-align: center;
      padding: 2rem 0;
      padding-bottom: 3rem;
      font-size: 3.5rem;
      color: var(--black);
  }

  .heading span {
      background: var(--green);
      color: white;
      display: inline-block;
      padding: .5rem 3rem;
      clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  }

  /* =============Common for all Heading tags======================== */

  /*======================= Header Section=============================== */

  .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 9%;
      background: #c7dbba;
      box-shadow: var(--box-shadow);

  }

  .header .logo {
      font-size: 2.5rem;
      font-weight: bolder;
      color: var(--black);
  }

  .header .logo  i {
      color: var(--green);
  }

  .header .navbar  a {
      font-size: 1.7rem;
      margin: 0 1rem;
      color: var(--black);
  }

  .header .navbar a:hover {
      color: var(--green);
  }

  .header .icons div {
      height: 4.5rem;
      width: 4.5rem;
      /* border: 1px solid ; */
      line-height: 4.5rem;
      border-radius: .5rem;
      text-align: center;
      font-size: 2rem;
      background: #eee;
      margin-right: .3rem;
      cursor: pointer;
  }

  .header .icons div:hover {
      background: var(--green);
      color: white;
  }

  #menu-btn {
      display: none;
  }

  .header .search-form {
      /* border: 1px solid; */
      position: absolute;
      top: 110%;
      right: -110%;
      width: 50rem;
      height: 5rem;
      background: white;
      border-radius: .5rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      box-shadow: var(--box-shadow);

  }

  .header .search-form.active {
      right: 2rem;
      transition: .3s linear;
  }

  .header .search-form input {
      height: 100%;
      width: 100%;
      background: none;
      text-transform: none;
      font-size: 1.6rem;
      color: var(--black);
      padding: 0 1.5rem;
  }

  .header .search-form label {
      font-size: 2.2rem;
      padding-right: 1.5rem;
      color: var(--black);
      cursor: pointer;
  }

  .header .search-form label:hover {
      color: var(--green);
  }

  .header .shopping-cart {
      position: absolute;
      top: 110%;
      right: -110%;
      padding: 1rem;
      /* border: 1px solid; */
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      width: 35rem;
      background: #c7dbba;

  }

  .header .shopping-cart.active {
      right: 2rem;
      transition: .3s linear;
  }

  .header .shopping-cart .box {
      /* border: 1px solid; */
      display: flex;
      text-align: center;
      gap: 1rem;
      position: relative;
      margin: 1rem 0;
  }

  .header .shopping-cart .box img {
      height: 10rem;

  }

  .header .shopping-cart .box .fa-trash {
      font-size: 2rem;
      position: absolute;
      top: 50%;
      right: 2rem;
      cursor: pointer;
      color: var(--light-color);
      transform: translateY(-50%);
  }

  .header .shopping-cart .box .fa-trash:hover {
      color: rgb(153, 14, 14);
  }

  .header .shopping-cart .box .content h3 {
      color: var(--black);
      font-size: 1.7rem;
      padding-bottom: 1rem;
  }

  .header .shopping-cart .box .content span {
      color: var(--light-color);
      font-size: 1.6rem;
  }

  .header .shopping-cart .box .content .quantity {
      padding-left: 1rem;
  }

  .header .shopping-cart .total {
      font-size: 2.5rem;
      padding: 1rem 0;
      text-align: center;
      color: var(--black);
  }

  .header .shopping-cart .btn {
      display: block;
      text-align: center;
      margin: 1rem 0;
  }

  /* login Form */
  .header .login-form {
      /* border: 1px solid; */
      position: absolute;
      width: 35rem;
      top: 110%;
      right: -110%;
      padding: 2rem;
      box-shadow: var(--box-shadow);
      border-radius: .8rem;
      background: #c7dbba;
      text-align: center;

  }

  header .login-form.active {
      right: 2rem;
      transition: .3s linear;
  }

  .header .login-form h3 {
      font-size: 2.5rem;
      text-transform: uppercase;
      color: var(--black);

  }

  .header .login-form .box {
      width: 100%;
      border: 1px solid;
      border-radius: .5rem;
      margin: .7rem 0;
      background-color: #eee;
      padding: 1rem;
      font-size: 1.6rem;
      color: var(--black);
      text-transform: none;
  }

  .header .login-form p {
      font-size: 1, 4rem;
      padding: .5rem 0;
      color: var(--light-color);
  }

  .header .login-form p a {
      font-size: 1.4rem;
      padding: .5rem 0;
      color: var(--green);
      text-decoration: underline;
  }

  /* Login Form */
  /*======================= Header Section=============================== */


  /*======================= Banner Section=============================== */



  .home {
      /* border: 1px solid ; */
      display: flex;
      justify-content: center;
      background: url(../images/banner-img.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      padding-top: 17rem;
      padding-bottom: 10rem;

  }

  .home .content {
      /* border: 1px solid; */
      text-align: center;
      width: 60rem;

  }

  .home .content h3 {
      color: var(--black);
      font-size: 3rem;
  }

  .home .content h3 span {
      color: var(--green);
  }

  .home .content p {
      color: var(--light-color);
      font-size: 1.7rem;
      padding: 1rem 0;
      line-height: 1.8;
  }

  /*======================= Banner Section=============================== */


  /* ======================== Features Section============================= */


  .features .box-container {
      border: 0px solid;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      gap: 1.5rem;
  }

  .features .box-container .box {
      border: 0px solid red;
      padding: 3rem 2rem;
      background: #c7dbba;
      outline: var(--outline);
      outline-offset: -1rem;
      text-align: center;
      box-shadow: var(--box-shadow);
  }

  .features .box-container .box:hover {

      box-shadow: 1px 1px 10px 4px var(--green);
  }


  .features .box-container .box img {
      margin: 1rem 0;
      height: 15rem;

  }

  .features .box-container .box h3 {
      font-size: 2.5rem;
      line-height: 1.8rem;
      color: var(--black);
  }

  .features .box-container .box p {
      font-size: 1.5rem;
      line-height: 1.8rem;
      color: var(--light-color);
      padding-bottom: 1rem 0;
  }

  /* ======================== Features Section============================= */


  /* ======================== Products Section============================= */

  .products .product-slider {
      /* border: 1px solid; */
      padding: 1rem;
  }

  .products .product-slider:first-child {
      margin-bottom: 2rem;
  }

  .products .product-slider .box {
      /* border: 1px solid red; */
      background: #c7dbba;
      border-radius: .5rem;
      text-align: center;
      padding: 3rem 2rem;
      outline-offset: -1rem;
      outline: var(--outline);
      box-shadow: var(--box-shadow);
      transition: .2s linear;
  }

  .products .product-slider .box:hover {
      box-shadow: 1px 1px 10px 4px var(--green);

  }

  .products .product-slider .box img {
      height: 20rem;

  }

  .products .product-slider .box h1 {
      font-size: 2.5rem;
      color: var(--black);
  }

  .products .product-slider .box .price {
      font-size: 2rem;
      color: var(--light-color);
      padding: .5rem 0;
  }

  .products .product-slider .box .stars i {
      font-size: 1.7rem;
      color: orange;
      padding: .5rem 0;
  }




  /* ======================== Products Section============================= */


  /* ======================== Categories Section============================= */

  .categories .box-container {
      border: 0px solid;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
      gap: 1.5rem;
  }


  .categories .box-container .box {
      padding: 3rem 0;
      background: #c7dbba;
      border-radius: 0.5rem;
      box-shadow: var(--box-shadow);
      outline: var(--outline);
      outline-offset: -1rem;
      text-align: center;
  }

  .categories .box-container .box:hover {
      box-shadow: 1px 1px 10px 4px var(--green);

  }



  .categories .box-container .box img {
      margin: 1rem 0;
      height: 15rem;
  }


  .categories .box-container .box h3 {
      font-size: 2rem;
      color: var(--black);
      line-height: 1.8;
  }

  .categories .box-container .box p {
      font-size: 1.7rem;
      color: var(--light-color);
      line-height: 1.8;
      padding: 1rem 0;

  }


  /* ======================== Categories Section============================= */



  /* ======================== Customer's Review Section============================= */

  .review .review-slider {
    padding: 1rem;
  }

  .review .review-slider .wrapper .box {
          /* border: 1px solid red; */
          background: #c7dbba;
          border-radius: .5rem;
          text-align: center;
          padding: 3rem 2rem;
          outline-offset: -1rem;
          outline: var(--outline);
          box-shadow: var(--box-shadow);
          transition: .2s linear;
  }

  .review .review-slider .wrapper .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);

  }

  .review .review-slider .wrapper .box img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
  }

  .review .review-slider .wrapper .box p {
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
  }

  .review .review-slider .wrapper .box h3 {
    padding: 0.5rem;
    color: var(--black);
    font-size: 2.2rem;

  }

  .review .review-slider .wrapper .box .stars i {
    color: orange;
    font-size: 1.7rem;
  }

  /* ======================== Customer's Review Section============================= */
  /* ======================== Blog Section============================= */

  .blogs .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    background-color: #c7dbba;
}

.blogs .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content {
    padding: 2rem;
    align-items: center;
}

.blogs .box-container .box .content .icons {
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);

} 

.blogs .box-container .box .content .icons a {
    color: var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover {
    color: var(--black);
}


.blogs .box-container .box .content .icons a i {
    color: var(--green);
    padding-right: .5rem;
}

.blogs .box-container .box .content h3 {
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: 0.5rem 0;
}

.blogs .box-container .box .content p {
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 0.5rem;
}

  /* ======================== Blog Section============================= */
  /* ======================== FOOTER Section============================= */

  

  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }

  .footer .box-container .box {
    padding: 1rem;
    background: #c7dbba;
    border: 1px solid;
    border-radius: 0.5rem;
    outline-offset: -1rem;
    outline: var(--outline);
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
  }
  .footer .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);

  }

  .footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;

  }

  .footer .box-container .box h3 i {
    color: var(--green);

  }

  .footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
  }

  .footer .box-container .box .links i {
    color: var(--green);
    padding-right: 0.5rem;
  }

  .footer .box-container .box .links:hover i {
    padding-right: 2rem;
  }


  .footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
  }
  
  .footer .box-container .box .share a {
    border: 1px solid ;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
  }

  .footer .box-container .box .share a:hover {
    background: var(--green);
    color: #fff;
  }


  .footer .box-container .box .email {
    width: 100%;
    background: #eee;
    margin: 0.7rem 0;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-transform: var(--black);

  }
  .footer .box-container .box .payment-img {
    margin-top: 2rem ;
    height: 3rem;
  }

  .footer .credit {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
    border-top: var(--border);
  }

  .footer .credit span {
    color: rgb(20, 161, 138);
  }

  /* ======================== FOOTER Section============================= */



  /*======================= Media Query=============================== */

  @media (max-width:991px) {

      html {
          font-size: 55%;

      }

      .header {
          padding: 2rem;
      }

      section {
          padding: 2rem;
      }

  }

  @media (max-width: 768px) {
      #menu-btn {
          display: inline-block;
      }

      .header .search-form {
          width: 90%;
      }

      .header .navbar {
          position: absolute;
          top: 110%;
          right: -110%;
          width: 30rem;
          box-shadow: var(--box-shadow);
          border-radius: .5rem;
          background: #fff;

      }

      .header .navbar.active {
          right: 2rem;
          transition: .4s linear;
      }


      .header .navbar a {
          font-size: 2rem;
          margin: 2rem 2.5rem;
          display: block;
      }

  }



  @media (max-width: 460px) {
      html {
          font-size: 50%;

      }

      .heading {
          font-size: 2.5rem;
      }

      .footer {
        text-align: center;
        align-items: center;
      }
  }